[Unit]
Description=OnionPerf
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=onionperf
WorkingDirectory=/srv/onionperf.torproject.net
ExecStart=/usr/bin/onionperf measure --tgen-listen-port 443
AmbientCapabilities=CAP_NET_BIND_SERVICE


[Install]
WantedBy=multi-user.target

